<div class="row">

  <div class="large-5 columns">
  	<div class="slideshow-wrapper">
  		<div class="preloader"></div>
  	<ul data-orbit>
  <li>
    <%= image_tag("Page1.jpg") %>
  </li>
  <li>
    <%= image_tag("Page2.jpg") %>
  </li>
  <li>
    <%= image_tag("Page3.jpg") %>
  </li>
    <li>
    <%= image_tag("Page4.jpg") %>
  </li>
    <li>
    <%= image_tag("Page5.jpg") %>
  </li>
</ul>
</div>
</div>


  <div class="large-5 columns">
  	<div class="row">
  		<div class="large-12 columns">
  			...
  		</div>
  	...
  </div>

</div>