<div class="row">

  <div class="large-5 columns">
  	<div class="slideshow-wrapper">
  		<div class="preloader"></div>
  	<ul data-orbit>
  <li>
  	<center>
    <%= image_tag("Page-1.jpg", :size => "400x600") %>
	</center>
  </li>
  <li>
  	<center>
    <%= image_tag("Page-2.jpg", :size => "400x600") %>
	</center>
  </li>
  <li>
  	<center>
    <%= image_tag("Page-3.jpg", :size => "400x600") %>
	</center>
    <li>
 	<center>
    <%= image_tag("Page-4.jpg", :size => "400x600") %>
	</center>
  </li>
    <li>
 	<center>
    <%= image_tag("Page-5.jpg", :size => "400x600") %>
	</center>
  </li>
</ul>
</div>
</div>

<div class="large-1 columns">
</div>

<div class="large-6 columns">
  	  <div class="row">
  		<p>高手（Highand），是首款为智能手机设计的图文+音频互动式教程制作工具与分享交流应用软件。

      		你是否在某方面有着过人的天份，而在平淡的生活中却难以找到施展才华的舞台？在这里，你可以找到属于自己的一片天地，秀出自己的过人之处，成为志同道合的朋友们拜师求艺的高手。简单、高效、极易上手却又强大的教程创建工具，能让你轻松制作内容精美、紧凑、完整的教程；公正的排名机制，自动将众人喜爱和认可的高手作品推到最前面。

      		或者，你有一直想学却没有时间学的小爱好？在这里，你可以找到各个领域的高手，图、文、声并茂地传授他们的技艺。每套教程都被划分为若干节简单易学的课程，哪怕只有忙里偷闲的两分钟，也能轻松学完一节课哦！你也可以与高手们互动，发送自己的学徒作业给高手们打分、点评。高手的评分越公正，对师徒双方排名的正面影响越大哦！

      		流弊，得让别人知道，谓之高手！
  		</p>
  	</div>
  	
  	<div class="row">
  		<div class="large-6 small-6 columns">
  			<strong><h4>&nbsp;&nbsp;扫描下载！</h4></strong>
    		<p><%= image_tag("qr.png", :size=>"190x190") %></p>
    	</div>
    	<div class="large-6 small-6 columns">
    		<br><br><br><br>
    		<a href="https://itunes.apple.com/cn/app/gao-shou/id680516055?mt=8" class="button large expand">iPhone版下载</a>
    		<a href="#" class="button large expand success">&nbsp;安卓版敬请期待</a>
    	</div>
  	</div>
</div>
</div>