<!--Header part-->
<div class="small-10 small-centered columns">
<nav class="top-bar">
<center>
        <%= link_to image_tag("horizontal_logo_small.jpg"), root_path %>

  <a href="#" class="button1">iPhone版下载</a>

</nav>
</div>
   </center>

<!--image rotation part-->
<div class="row">

  <div class="small-10 small-centered columns">
  	<div class="slideshow-wrapper">
  		<div class="preloader">
  		</div>
  			<ul data-orbit>
  				<li>
  				<center>
    			<%= image_tag("Page-1.jpg", :size => "420x630") %>
				</center>
  				</li>
  				<li>
  				<center>
   				<%= image_tag("Page-2.jpg", :size => "420x630") %>
				</center>
  				</li>
  				<li>
  				<center>
    			<%= image_tag("Page-3.jpg", :size => "420x630") %>
				</center>
    			<li>
 				<center>
    			<%= image_tag("Page-4.jpg", :size => "420x630") %>
				</center>
  				</li>
   				<li>
 				<center>
   				<%= image_tag("Page-5.jpg", :size => "420x630") %>
				</center>
  				</li>
			</ul>
		</div>
	</div>