<!--Header part-->
<div class="small-11 small-centered columns">
<nav class="top-bar">
<center>
        <%= link_to image_tag("horizontal_logo_small.jpg"), root_path %>

  <a href="#" class="button1">iPhone版下载</a>

</nav>
</div>
   </center>

<!--image rotation part-->
<div class="row">

  <div class="small-12 small-centered columns">
  	<div class="slideshow-wrapper">
  		<div class="preloader">
  		</div>
  			<ul data-orbit>
  				<li>
  				<center>
    			<%= image_tag("p1.jpg",:size => '450x800') %>
				</center>
  				</li>
  				<li>
  				<center>
   				<%= image_tag("p2.jpg",:size => '450x800') %>
				</center>
  				</li>
  				<li>
  				<center>
    			<%= image_tag("p3.jpg",:size => '450x800') %>
				</center>
    			<li>
 				<center>
    			<%= image_tag("p4.jpg",:size => '450x800') %>
				</center>
  				</li>
			</ul>
		</div>
	</div>

  <br> 